.pagination {
  max-width: 570px;
  margin: auto;
  border-style: solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  &__btn {
    width: 90px;
    height: fit-content;
    background-color: #b43bc4;
    padding: 10px;
    border-radius: 7px;

    a {
      color: white;
    }
  }

  a {
    display: block;
    width: fit-content;
    margin: auto;
    font-family: var(--chakra-fonts-body);
  }

  &__active {
    width: 35px;
    height: 35px;
    background-color: #b43bc4;
    padding: 5px;
    border-radius: 35px;
    transition: all 0.2s;
    a {
      color: white;
    }
  }
}

li {
  list-style: none;
}

.header-container{
  width: 100vw;
  height: 200px;
  overflow: hidden;
  position: relative;
  background-color: #b43bc4;

  &__img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.body-container{
  height: 70vh;

  .infinite-scroll-component__outerdiv{
    max-height: 70vh;
  }
}

body{
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .pagination {
    width: 85vw;
  }
}
